  <%= render partial: "shared/person_info" %>
  
  <section class="bio_section">
    <h1 class="bio_header">Bio</h1>
    <p class="bio_paragraph">
      <%= @user.bio %>
    </p>
  </section>

  <section class= "new_post_section">
    <% if @user.id == @first_user.id %>
      <%= link_to 'New Post', new_user_post_path(@user) %>
    <% end %>
  </section>
  
  <section class="posts_section">
    <% @user.recent_posts.each_with_index do |post, i| %>
      <div class="post">
        <span class="title_content">
          <a href=<%= user_post_path(@user, post)%>><h2 class="post_title">Post #<%=i + 1%></h2></a>
          <p class="post_content"><%= post.text %></p>
        </span>
        <span class="comments_likes">
          <span class="comments_count">Comments: <%= post.comments_counter %></span>
          <span class="likes_count">Likes: <%= post.likes_counter %></span>
        <span>
      </div>
    <% end %>
  </section>

  <a href="<%= user_posts_path(@user) %>">
    <button class="button">see all posts</button>
  </a>
