<div class="post_v2">
  <span class="title_content">
    <h2 class="post_title">Post #<%= i + 1 %></h2>
    <p class="post_content"><%= post.text %></p>
  </span>
  <div class="right_att">
    <section class="comments_likes_v2">
      <% if can? :destroy, post && request.path != user_posts_path(post.author) %>
        <%= button_to "Delete", user_post_delete_path(post.author, post), method: :delete, class: "delete_post_button_form_2" %>
      <% end %>
  
      <section class="sub_comment_like">
        <span class="comments_count">
          Comments: <%= post.comments_counter %>
        </span>

        <span class="likes_count">
          Likes: <%= post.likes_counter %>
        </span>
      </section>
    </section>
  </div>
</div>  
