<%= render partial: "shared/person_info" %>

<section class="posts_section">
  <% @posts.each_with_index do |post, i| %>
    <a href="<%= user_post_path(@user, post) %>">
      <%= render partial: "shared/post_info", locals: { post: post, i: i } %>
    </a>
    <section class="comments_section">
      <% @recent_comments_by_post[post.id].each do |comment| %>
        <%= render partial: "shared/comments_info", locals: { comment: comment, i: i } %>
      <% end %>
    </section>
  <% end %>
</section>

<a href="<%= users_path %>">
  <button class="button">Pagination</button>
</a>
