<!DOCTYPE html>
<html>
  <head>
    <title>Blogtastic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'user_index.css' %>
    <%= stylesheet_link_tag 'user_show.css' %>
    <%= stylesheet_link_tag 'post_index.css' %>
    <%= stylesheet_link_tag 'post_show.css' %>
    <%= stylesheet_link_tag 'new_post.css' %>
    <%= stylesheet_link_tag 'new_comment.css' %>
    <%= stylesheet_link_tag 'navigation.css' %>
    <%= stylesheet_link_tag 'authentication.css' %>
    <%= stylesheet_link_tag 'additional.css' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class = "whole_content" >
  <header>
    <%= render partial: "shared/navigation_bar" %>
  </header>
  <main>
    <div class="Holder">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </main>
  <footer class = "footer"></footer>
  </body>
</html>
